<v-app-bar app>
    <v-btn variant="text" prepend-icon="mdi-chat-processing-outline" href="{[ url_for('chat.index')]}">Chat</v-btn>
    <v-btn variant="text" prepend-icon="mdi-magnify" href="{[ url_for('query.index')]}">Query</v-btn>
</v-app-bar>